<div class="bs-main-header clear">
  <div class="bs-header-user">
    <a href="#">欢迎 ！xxxx</a>
  </div>
</div>

<style>
  .bs-main-header {
    border: none;
    background: #fff;
    min-height: 60px;
    border-radius: 0;
    box-shadow: 8px 0 8px #ccc;
    -webkit-transaition: margin-left 0.3s ease-in-out;
    -o-transition: margin-left 0.3s ease-in-out;
    transition: margin-left 0.3s ease-in-out;
  }
  .bs-header-user {
    float: right;
    line-height: 60px;
    padding: 0 40px;
  }
</style>
